/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/* duration | timing-function | delay | iteration-count
   direction | fill-mode | play-state | name */
   /* animation: 3s ease-in 1s 2 reverse both paused slidein; */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

menu {
  display: flex;
}

.mission-statement {
  font-weight: 400;
  font-size: 0.75em;
  width: 175px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
